<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new post</title>
</head>
<body>
    <form action="/add" method="post">
        <p>Title: <input type="text" name="titleTxt"></p><br/>
        <p>Picture: <input type="url" name="picUrl"></p><br/>
        <p>Description: <input type="text" name="descTxt"></p><br/>
        <p>Content: <input type="text" maxlength="255" name="contentTxt"></p><br/>
        <button>Submit</button>
    </form>
    <a href="/"><button>Cancel</button></a>


    
</body>
</html>

    
</body>
</html>